<div class="container-fluid h-100 p-1">
  <div class="card h-100">
    <div class="card-body">
      <!-- first row -->
      <div class="row mb-2">
        <div class="col">
          <div class="card">
            <div class="card-header">Station</div>
            <div class="card-body">{{ station.id }} - {{ station.name }}</div>
          </div>
        </div>
      </div>

      <!-- entry selectors row -->
      <div class="row mb-2">
        <div class="col">
          <div class="card">
            <div class="card-header">Entry Selectors</div>
            <div class="card-body">
              <div class="row g-2">
                <div
                  class="col-auto mb-2"
                  *ngIf="entryForm.entrySelectors.includes('elementId')"
                >
                  <app-ucr-single-elements-selector
                    [elementIdsFilter]="entryForm.elements"
                    (selectionChange)="onElementChange($event)"
                  ></app-ucr-single-elements-selector>
                </div>

                <div
                  class="col-auto mb-2"
                  *ngIf="
                    !useDatePickerControl &&
                    entryForm.entrySelectors.includes('year')
                  "
                >
                  <app-ucr-single-year-selector
                    (selectionChange)="onYearChange($event)"
                  ></app-ucr-single-year-selector>
                </div>

                <div
                  class="col-auto mb-2"
                  *ngIf="
                    !useDatePickerControl &&
                    entryForm.entrySelectors.includes('month')
                  "
                >
                  <app-ucr-single-month-selector
                    (selectionChange)="onMonthChange($event)"
                  ></app-ucr-single-month-selector>
                </div>

                <div
                  class="col-auto mb-2"
                  *ngIf="
                    !useDatePickerControl &&
                    entryForm.entrySelectors.includes('day')
                  "
                >
                  <app-ucr-single-day-selector
                    (selectionChange)="onDayChange($event)"
                  ></app-ucr-single-day-selector>
                </div>

                <div class="col-auto mb-2" *ngIf="useDatePickerControl">
                  <app-date-picker
                    *ngIf="useDatePickerControl"
                  ></app-date-picker>
                </div>

                <div
                  class="col-auto mb-2"
                  *ngIf="entryForm.entrySelectors.includes('hour')"
                >
                  <app-ucr-single-hour-selector
                    *ngIf="entryForm.entrySelectors.includes('hour')"
                    [hoursFilter]="entryForm.hours"
                    (selectionChange)="onHourChange($event)"
                  ></app-ucr-single-hour-selector>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- entry field row -->
      <div class="row mb-2">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-header">Entry Fields</div>
                <div class="card-body">
                  <!-- grid entry -->
                  <app-data-grid-entry
                    *ngIf="entryForm.entryControl === 'grid'"
                    [entryForm]="entryForm"
                    [entryDataItems]="entryDataItems"
                  >
                  </app-data-grid-entry>
                  <!-- ----------- -->
                  <!-- value flag entry -->
                  <app-value-flag-entry
                    *ngIf="entryForm.entryControl === 'vf'"
                    [entryForm]="entryForm"
                    [entryDataItems]="entryDataItems"
                  >
                  </app-value-flag-entry>
                  <!-- ----------- -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <div class="card-footer">
      <div class="row g-2">
        <div class="col-auto">
          <button type="button" class="btn btn-primary" (click)="onSave()">
            Save
          </button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-primary">Delete</button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-primary">Clear</button>
        </div>
      </div>
    </div>


  </div>
</div>
