<div class="container-fluid h-100 p-1">
  <div class="card h-100">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">Select Station</div>
      </div>
    </div>

    <div class="card-body">
      <app-data-list-view
        [dataSource]="stations"
        [bodyMembers]="['id', 'name']"
        [actions]="[
          {
            actionName: 'Entry',
            actionCssClassName: 'btn-outline-primary',
            actionIconCssClassName: 'bi-pen'
          },
          {
            actionName: 'View',
            actionCssClassName: 'btn-outline-info',
            actionIconCssClassName: 'bi-info'
          }
        ]"
        (dataActionClicked)="onStationClick($event)"
      ></app-data-list-view>
    </div>
  </div>
</div>
