<div class="container-fluid h-100 p-1">
  <div class="card h-100">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">Select Form</div>
      </div>
    </div>

    <div class="card-body">
      <app-data-list-view
        [dataSource]="entrydataSources"
        [bodyMembers]="['name', 'description']"
        [actions]="[
          {
            actionName: 'Entry',
            actionCssClassName: 'btn-outline-primary',
            actionIconCssClassName: 'bi-pen'
          }
        ]"
        (dataActionClicked)="onFormClick($event)"
      ></app-data-list-view>
    </div>
  </div>
</div>
