
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-card-header{
  justify-content: space-between;
}

.mat-card-header a{
  height: fit-content;
}

.mat-mdc-table {
  width: 100%;
}

.mat-header-cell{
  font-weight: 600;
  font-size: 1rem;
}

.mat-mdc-row:hover {
  cursor: pointer;
}

.form-card{
  margin-bottom: 5px;
}

