<mat-card>
  <mat-card-header>
    <mat-card-title>{{station.id}} - {{station.name}}</mat-card-title> 
  </mat-card-header>

  <mat-card-content>
    <table *ngIf="!mobileView" mat-table [dataSource]="entryForms">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ getDataSourceName(element.dataSourceId) }}</td>
      </ng-container>
      <!---------->

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{ getDataSourceDescription(element.dataSourceId) }}</td>
      </ng-container>
      <!---------->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onFormClick(row)"></tr>
    </table>

    <div *ngIf="mobileView">
      <mat-card
        class="form-card"
        *ngFor="let entryForm of entryForms"
        (click)="onFormClick(entryForm)"
      >
        <mat-card-header>
          <mat-card-title>{{ getDataSourceName(entryForm.dataSourceId) }}</mat-card-title>
          <mat-card-subtitle>{{ getDataSourceDescription(entryForm.dataSourceId) }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
