
// theme used by ng-select
@import "~@ng-select/ng-select/themes/default.theme.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.g-main-card-content{
    /* todo. style for element to have 100 100% height and a 5px marging to allow for shadows and curves visibility */
    height: 99%;
    margin: 5px;
}

