<div class="container-fluid h-100 p-1">
  <div class="card h-100">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">All Entry Forms</div>
        <div class="col d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            (click)="onNewForm()"
          >
            New Form
          </button>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="list-group list-group-numbered">
        <div
          *ngFor="let dataSource of entryDataSources"
          class="list-group-item list-group-item-action d-flex"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="fw-bold">{{ dataSource.name }}</div>
                <div>{{ dataSource.description }}</div>
              </div>
              <div class="col mt-1">
                <div class="d-flex justify-content-end">
                  <button
                    type="button"
                    class="btn btn-outline-primary btn-sm me-2"
                    (click)="onEditForm(dataSource)"
                  >
                    <i class="bi bi-pen"></i>Edit
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-danger btn-sm"
                    (click)="onDeleteForm(dataSource)"
                  >
                    <i class="bi bi-trash"></i>Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
